---
layout: post-index
title: Spotlights on Black Scientists
permalink: /spotlights/
paginate: true
---

{% for post in paginator.posts %}

<article style="padding:0px">
    <div class="grid" style="display:flex; align-items:center; justify-content:center">
        <div class="col-1-2 .d-md-none">
                <div style="
                        display:table-cell;
                        background-color:transparent;
                        float:center;
                        width:50%;
                        height:100%;
                        background-size:cover;
                        background-position:center">
                        <img src="{{ post.featured-image }}" width="300px">
                </div>
        </div>
            
        <div class="col-1-2">
                <article class="hentry">
                <h2 class="entry-title">
                        <a class="light-bg" href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
                </h2>
                <h4 class="entry-title">{{ post.subtitle }}</h4>
                <hr>
                
                <div class="entry-content">
                        <p>{{ post.headline }}</p>
                </div>
                
                <div class="post-date">
                        {{ post.date | date: "%B %-d, %Y"}}
                </div>
                </article>
        </div>
    </div>
</article> 

{% endfor %}

<div class="pagination">
<center>
{% include pagination.html %}
</center>
    </div>
