---
layout: post-index
title: Spotlights on Black Scientists
paginate: true
---
<style>
    article {
		background-color: #d95f0e;
		box-shadow: 0 0 0 0, 0 6px 12px rgba($base-color,0.2);
		border-radius: 3px;
		margin-bottom: 10px;
		padding: 10px 10px;
		overflow: hidden;
    }
</style>

<article>
    <h1> Promoting Black biologists and science literacy </h1>
    
    <p> Over the past few years, I have built a collection of "spotlights" on Black faculty in STEM aimed at a lay audience,
        to promote the work of these scientists and engage non-experts in thinking about scientific inquiry.
        Originally posted on Facebook throughout the month of February, these spotlights are now collected here.
    </p>

    <p><i> If you are featured and would like to make an addition/correction (or if you would like me to take down your profile), please
    <a class="light-bg" href="mailto:dashiell.massey.web@gmail.com" target="_blank" rel="noopener noreferrer">let me know</a>!
     If you are a Black scientist who I have not written about and you would like to be featured in a future February, I would love to hear
     from you.</i>
    </p>
</article>

{% for post in paginator.posts %}

<article style="padding:0px">
    <div class="grid" style="display:flex; align-items:center; justify-content:center">
        <div class="col-1-2 .d-md-none">
                <div style="
                        display:table-cell;
                        background-color:transparent;
                        float:center;
                        width:50%;
                        height:100%;
                        background-size:cover;
                        background-position:center">
                        <img src="{{ post.featured-image }}" width="300px">
                </div>
        </div>
            
        <div class="col-1-2">
                <article class="hentry">
                <h2 class="entry-title">
                        <a class="light-bg" href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
                </h2>
                <h4 class="entry-title">{{ post.subtitle }}</h4>
                <hr>
                
                <div class="entry-content">
                        <p>{{ post.headline }}</p>
                </div>
                
                <div class="post-date">
                        {{ post.date | date: "%B %-d, %Y"}}
                </div>
                </article>
        </div>
    </div>
</article> 

{% endfor %}

<div class="pagination">
<center>
{% include pagination.html %}
</center>
    </div>
