---
layout: post-index
---

<article style="padding:0px">
    <div class="grid" style="display:flex; align-items:stretch">

        <div class="col-1-2 .d-md-none">
            <div style="
            display:table-cell;
            float:left;
            width:100%;
            height:100%;
            background-image: url(/images/headshot2.jpg);
            background-size:cover;
            background-position:center">
        </div></div>

        <div class="col-1-2">
            <h2 class="entry-title">
                ABOUT ME
            </h2><hr>
            Hi, I'm Dashiell! I'm a computational biologist interested in developing new methods for understanding complex
            biological processes that vary in space and time. I'm particuarly interested in how we can better account for the fact that
            we are likely undersampling the true extent of variation.
            <br>
            <br>
            I am currently a postdoctoral associate with <a class="light-bg" href="https://www.goldberglab.org/" 
                                                              target="_blank" rel="noopener noreferrer">Dr. Amy Goldberg</a> 
            in the <a class="light-bg" href="https://evolutionaryanthropology.duke.edu/" 
                                                              target="_blank" rel="noopener noreferrer">
            Department of Evolutionary Anthropology</a> at Duke University, where I study assortative mating and admixture.
            <br>
            <br>
            I received my Ph.D. in the lab of <a class="light-bg" href="https://www.thekorenlab.org/" 
                                                              target="_blank" rel="noopener noreferrer">Dr. Amnon Koren</a> 
            in the <a class="light-bg" href="https://www.mbg.cornell.edu/" 
                                                              target="_blank" rel="noopener noreferrer">
            Department of Molecular Biology and Genetics</a> at Cornell University,
            where I was a student in the <a class="light-bg" href="https://www.gendev.cornell.edu/" 
                                                              target="_blank" rel="noopener noreferrer">
            Graduate Field of Genetics, Genomics, and Development</a>.
            <br>
            <br>
            In the Koren lab, I studied <b>human DNA replication timing</b>. My dissertation focused on uncovering heterogeneity
            in replication timing at the single-cell level, in order to better its understand
            the regulation. This work was published in <a class="light-bg" 
            href = "https://www.nature.com/articles/s41467-022-30212-y" target="_blank" rel="noopener noreferrer">
            <i>Nature Communications</i></a>.
            <br>
            <br>
            In addition to my research interests, I am passionate about <b>teaching</b>, <b>science literacy</b>, and 
            <b>promoting equity in STEM</b> &#8212;
            goals that I see as deeply intertwined with one another (and with my research interests).
        </div>
</div>
</article>

{% for post in paginator.posts %}
<article>
    
    <!-- POST FEATURED IMAGE -->
    <div class="featured-image">
    <img src="{{ post.featured-image}}" style="width:100%">
    </div>

    <!-- POST TITLE -->
    <header>
        <h1 class="entry-title">
            <a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}" itemprop="url">{{ post.title }}</a>
        </h1>
        <h3 class="entry-subtitle">
            <a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}" itemprop="url">{{ post.subtitle }}</a>
        </h3>
    </header>

    <!-- POST CONTENT -->
<!--     <div class="entry-content">
        {{ post.content }}
    </div> -->
    
    <!--- DIVIDING LINE -->
    <hr>
    
    <!-- POST TAGS -->
    <div class="inline-tags">
        <span>
        {% for tag in post.tags %}
            <a href="/tags/#{{tag}}">#{{ tag }}&nbsp;&nbsp;&nbsp;</a>
        {% endfor %}
        </span>
    </div>
    
    <br>
    
    <!-- POST DATE -->
    <div class="post-date">
        <span class="entry-date date published updated">
            <time datetime="{{ post.date | date_to_xmlschema }}">
                <a href="{{ site.url }}{{ post.url }}">{{ post.date | date: "%B %d, %Y" }}</a>
            </time>
        </span>
    </div>
    
</article>
{% endfor %}

<div class="pagination">
<center>
{% include pagination.html %}
</center>
    </div>
