<center>
    <nav class="header-nav">
        <ul class="navigation-bar">
            <li><a href="/">HOME</a></li>
            <li><a href="/files/CV_Dashiell_Massey.pdf" target="_blank" rel="noopener noreferrer">CV<//li>
            <li><a href="/archives/">ARCHIVE</a></li>
            <li><a href="/about/">BIO</a></li>
            <li><a href="https://scholar.google.com/citations?hl=en&user=5dNZZ7kAAAAJ" target="_blank" rel="noopener noreferrer" title="Google Scholar"><i class="ai ai-google-scholar-square ai-lg"></i></i></a></li>  
            <li><a href="https://github.com/dashiellmassey/" target="_blank" rel="noopener noreferrer" title="GitHub"><i class='fa fa-github-square fa-lg'></i></a></li>  
            <li><a href="https://twitter.com/DashiellMassey" target="_blank" rel="noopener noreferrer" title="Twitter"><i class='fa fa-twitter-square fa-lg'></i></a></li>  
            <li><a href="https://pubmed.ncbi.nlm.nih.gov/?term=massey+dashiell+j+%5Bau%5D" target="_blank" rel="noopener noreferrer" title="PubMed"><i class='ai ai-pubmed-square ai-lg'></i></a></li>  
        </ul>
    </nav>
</center>
