<center>
    <nav class="header-nav">
        <ul class="navigation-bar">
            <li><a href="/">HOME</a></li>
            <li><a href="/files/CV_Dashiell_Massey.pdf" target="_blank" rel="noopener noreferrer">CV<//li>
            <li><a href="/archives/">ARCHIVE</a></li>
            <li><a href="/about/">ABOUT</a></li>
            <li><a href="https://github.com/dashiellmassey/" target="_blank" rel="noopener noreferrer"><i class='fab fa-github-alt fa-1x'></i></a></li>  
        </ul>
    </nav>
</center>
