<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
   
<head>
    {% include head.html %}

   <br>
    <center>
        <span class="main-header-image">
            <h1 style="font-weight:100; font-kerning:normal"><a href="/">{{ site.title }}</a></h1>
            <h3 style="font-weight:80; font-kerning:normal">{{ site.subtitle }}</h3>
        </span>
    </center>

    <!-- NAVIGATION -->
    <br>
    {% include navigation.html %}
</head>

<!-- BODY -->
<body id="post-index">
   
    {% include browser-upgrade.html %}
    
    <div id="main" role="main">

        <article class="hentry">
            <div class="featured-image">
             <img src="{{ page.featured-image }}">
         </div>
          <h1 class="entry-title"> {{ page.title }} </h1>

          <div class="post-date">
             {{ page.date | date: "%B %-d, %Y"}}
         </div>

           <div class="entry-content">
              {{ page.headline }}
           </div>

           <hr>
           
          <div class="entry-content">
             {{ page.content }}
          </div>  
         
           <div class="post-nav">
              {% if page.previous.url %}
              <a class="light-bg" href="{{page.previous.url}}">
                 <span aria-hidden="true">&laquo;</span>
                 {{page.previous.title}}
              </a>
              {% endif %}
           </div>
           
             <div class="post-nav">
                {% if page.next.url %}
                {% assign next_post_title_array = page.next.title | split: " " %}
                {% assign next_post_cape_length = next_post_title_array | size | minus: 1 %}
                {% assign next_post_cape = page.next.title | truncatewords: next_post_cape_length, "" %}
                {% assign next_post_spit = next_post_title_array | last %}
                <a class="light-bg" href="{{page.next.url}}">
                   {{next_post_cape}}
                   <span style="white-space: nowrap;">
                      {{next_post_spit}}
                      <span aria-hidden="true">&raquo;</span>
                   </span>
                </a>
                {% endif %}
             </div>
        </article>
    </div>
</body>
   
<!-- FOOTER -->  
<footer>  
    <div class="footer-wrapper">
        <footer role="contentinfo">
            {% include footer.html %}
        </footer>
    </div>   
</footer>  
</html>
